
@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<div id="Items-Search">
    <label for="fname">Search:</label>
    <input type="text" id="fname" name="fname"><br>
    <input type="submit" value="Tim Kiem">
</div>
