USE [DNN]
GO
/****** Object:  Table [dbo].[DNNNews]    Script Date: 03/10/2022 9:56:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DNNNews](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](max) NOT NULL,
	[ItemDescription] [nvarchar](max) NOT NULL,
	[AssignedUserId] [int] NULL,
	[ModuleId] [int] NOT NULL,
	[CreatedOnDate] [datetime] NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[LastModifiedOnDate] [datetime] NOT NULL,
	[LastModifiedByUserId] [int] NOT NULL,
	[NewsCategoriesId] [int] NOT NULL,
	[ItemContent] [nvarchar](max) NULL,
 CONSTRAINT [PK_DNNNews] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DNNNewsCategories]    Script Date: 03/10/2022 9:56:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DNNNewsCategories](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](max) NOT NULL,
	[ItemDescription] [nvarchar](max) NOT NULL,
	[AssignedUserId] [int] NULL,
	[ModuleId] [int] NOT NULL,
	[CreatedOnDate] [datetime] NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[LastModifiedOnDate] [datetime] NOT NULL,
	[LastModifiedByUserId] [int] NOT NULL,
 CONSTRAINT [PK_DNNNewsCategories] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DNNNews] ON 

SET IDENTITY_INSERT [dbo].[DNNNews] OFF
GO
SET IDENTITY_INSERT [dbo].[DNNNewsCategories] ON 

INSERT [dbo].[DNNNewsCategories] ([ItemId], [ItemName], [ItemDescription], [AssignedUserId], [ModuleId], [CreatedOnDate], [CreatedByUserId], [LastModifiedOnDate], [LastModifiedByUserId]) VALUES (1, N'Tin Mới', N'Tin tức mới trong ngày', 0, 381, CAST(N'2022-09-27T16:01:21.310' AS DateTime), 1, CAST(N'2022-09-27T16:02:17.783' AS DateTime), 1)
INSERT [dbo].[DNNNewsCategories] ([ItemId], [ItemName], [ItemDescription], [AssignedUserId], [ModuleId], [CreatedOnDate], [CreatedByUserId], [LastModifiedOnDate], [LastModifiedByUserId]) VALUES (2, N'Tin Hot', N'Tin tức đang hot', 0, 381, CAST(N'2022-09-27T16:02:09.917' AS DateTime), 1, CAST(N'2022-09-27T16:02:09.917' AS DateTime), 1)
INSERT [dbo].[DNNNewsCategories] ([ItemId], [ItemName], [ItemDescription], [AssignedUserId], [ModuleId], [CreatedOnDate], [CreatedByUserId], [LastModifiedOnDate], [LastModifiedByUserId]) VALUES (3, N'Thế Giới', N'Tin thế Giới', 0, 381, CAST(N'2022-09-28T03:32:47.360' AS DateTime), 1, CAST(N'2022-09-28T03:32:47.360' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[DNNNewsCategories] OFF
GO
